.header {
  display: flex;
  align-items: center;
  width: 740px;
  height: 50px;
  left: 350px;
}

.logo {
  width: 140px;
  height: 14px;
  top: 18px;
}

.menu {
  display: flex;
  width: Hug(427px);
  height: Hug(22px);
  margin-left: 110px;
  top: 14px;
  gap: 8px;
}

.item {
  font-size: 15px;
  color: #24388d;
}

.item a {
  text-decoration: none;
  color: #24388d;
}
