@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.notice_area {
  position: absolute;
  display: inline-flex;
  width: 375px;
  height: 105px;
  left: 365px;
}

.notice_box {
  position: relative;
  display: flex;
  width: 375px;
  height: 105px;
}

.control {
  width: 125px;
  height: 105px;
  background: linear-gradient(137.4deg, #263D83 3.86%, #102457 100%);
}

.control a {
  position: absolute;
  width: 55px;
  height: 15px;
  top: 15px;
  left: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(254, 254, 254, 1);
  text-decoration: none;
}

.control__left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  top: 79px;
  left: 84px;
  border: 1px solid rgba(245, 245, 245, 1);
  background: none;
  cursor: pointer;
}

.control__right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  top: 79px;
  left: 99px;
  border: 1px solid rgba(245, 245, 245, 1);
  background: none;
  cursor: pointer;
}

.content_box {
  position: absolute;
  width: 250px;
  height: 105px;
  left: 125px;
  background: rgba(254, 254, 254, 1);
}

.content_box h3 {
  position: absolute;
  width: 215px;
  height: 15px;
  top: 15px;
  left: 15px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(36, 56, 141, 1);
}

.date {
  position: absolute;
  width: 215px;
  height: 11px;
  top: 35px;
  left: 15px;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(135, 135, 135, 1);
}

.content {
  position: absolute;
  width: 215px;
  height: 36px;
  top: 54px;
  left: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color:rgba(20, 24, 44, 0.9);
}